
.local-cc-text-red[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(153 27 27 / var(--tw-text-opacity))
}
.local-cc-text-red[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity))
}
.local-cc-text-yellow[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity))
}
.local-cc-text-yellow[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity))
}
.local-cc-text-gray[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(64 64 64 / var(--tw-text-opacity))
}
.local-cc-text-gray[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity))
}
.local-cc-text-blue-light[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity))
}
.local-cc-text-blue-light[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity))
}
.local-cc-text-purple[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(126 34 206 / var(--tw-text-opacity))
}
.local-cc-text-purple[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))
}
.local-cc-text-purple-light[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(107 33 168 / var(--tw-text-opacity))
}
.local-cc-text-purple-light[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity))
}
.local-cc-text-lime[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(132 204 22 / var(--tw-text-opacity))
}
.local-cc-text-lime[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(101 163 13 / var(--tw-text-opacity))
}
.local-cc-text-fuchsia[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(217 70 239 / var(--tw-text-opacity))
}
.local-cc-text-fuchsia[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(192 38 211 / var(--tw-text-opacity))
}
.local-cc-text-zinc[data-v-5a903c0f] {
    --tw-text-opacity: 1;
    color: rgb(113 113 122 / var(--tw-text-opacity))
}
.local-cc-text-zinc[data-v-5a903c0f]:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(82 82 91 / var(--tw-text-opacity))
}

