name: catalyst_voices
description: Catalyst Voices
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.1"

dependencies:
  animated_text_kit: ^4.2.2
  animations: ^2.0.11
  catalyst_cardano: ^0.4.0+2
  catalyst_cardano_serialization: ^0.5.0+2
  catalyst_cardano_web: ^0.4.0+2
  catalyst_key_derivation: ^0.1.1+1
  catalyst_voices_assets:
    path: ../../packages/internal/catalyst_voices_assets
  catalyst_voices_blocs:
    path: ../../packages/internal/catalyst_voices_blocs
  catalyst_voices_brands:
    path: ../../packages/internal/catalyst_voices_brands
  catalyst_voices_localization:
    path: ../../packages/internal/catalyst_voices_localization
  catalyst_voices_models:
    path: ../../packages/internal/catalyst_voices_models
  catalyst_voices_repositories:
    path: ../../packages/internal/catalyst_voices_repositories
  catalyst_voices_services:
    path: ../../packages/internal/catalyst_voices_services
  catalyst_voices_shared:
    path: ../../packages/internal/catalyst_voices_shared
  catalyst_voices_view_models:
    path: ../../packages/internal/catalyst_voices_view_models
  collection: ^1.18.0
  dotted_border: ^2.1.0
  equatable: ^2.0.7
  file_picker: ^8.0.7
  flutter:
    sdk: flutter
  flutter_adaptive_scaffold: ^0.2.4
  flutter_bloc: ^8.1.5
  # TODO(dtscalac): depend on latest stable version when https://github.com/deakjahn/flutter_dropzone/issues/95 is solved,
  # don't depend on flutter_dropzone_platform_interface and flutter_dropzone_web, they should be pulled in transitively
  flutter_dropzone: 4.0.3
  flutter_dropzone_platform_interface: 2.0.6
  flutter_dropzone_web: 4.0.2
  flutter_localized_locales: ^2.0.5
  flutter_quill: ^10.8.2
  flutter_quill_extensions: ^10.8.2
  flutter_secure_storage: ^9.2.2
  flutter_web_plugins:
    sdk: flutter
  formz: ^0.7.0
  go_router: ^14.0.2
  google_fonts: ^6.2.1
  intl: ^0.19.0
  markdown: ^7.2.2
  markdown_quill: ^4.2.0
  mask_text_input_formatter: ^2.9.0
  result_type: ^0.2.0
  scrollable_positioned_list: ^0.3.8
  sentry_flutter: ^8.8.0
  shared_preferences: ^2.3.3
  url_launcher: ^6.2.2
  url_strategy: ^0.3.0
  # TODO(dtscalac): win32 dependency is just a transitive dependency and shouldn't be imported
  # but here we import it explicitly to make sure the latest version is used which addresses
  # the problem from here: https://github.com/jonataslaw/get_cli/issues/263
  win32: ^5.5.4

dev_dependencies:
  build_runner: ^2.4.12
  build_verify: ^3.1.0
  catalyst_analysis: ^2.0.1
  flutter_test:
    sdk: flutter
  go_router_builder: ^2.4.1
  integration_test:
    sdk: flutter
  mockito: ^5.4.4
  mocktail: ^1.0.1
  patrol_finders: ^2.5.1
  sentry_dart_plugin: ^2.1.0

flutter:
  uses-material-design: true
  generate: true

sentry:
  upload_source_maps: true
  upload_sources: true
