name: catalyst_voices
description: Catalyst Voices
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.29.3"

dependencies:
  animated_text_kit: ^4.2.2
  animations: ^2.0.11
  auto_size_text: ^3.0.0
  catalyst_cardano: ^1.0.0
  catalyst_cardano_serialization: ^1.0.0
  catalyst_cardano_web: ^1.0.0
  catalyst_key_derivation: ^1.0.0
  catalyst_voices_assets:
    path: ../../packages/internal/catalyst_voices_assets
  catalyst_voices_blocs:
    path: ../../packages/internal/catalyst_voices_blocs
  catalyst_voices_brands:
    path: ../../packages/internal/catalyst_voices_brands
  catalyst_voices_localization:
    path: ../../packages/internal/catalyst_voices_localization
  catalyst_voices_models:
    path: ../../packages/internal/catalyst_voices_models
  catalyst_voices_repositories:
    path: ../../packages/internal/catalyst_voices_repositories
  catalyst_voices_services:
    path: ../../packages/internal/catalyst_voices_services
  catalyst_voices_shared:
    path: ../../packages/internal/catalyst_voices_shared
  catalyst_voices_view_models:
    path: ../../packages/internal/catalyst_voices_view_models
  collection: ^1.19.0
  dotted_border: ^2.1.0
  equatable: ^2.0.7
  file_picker: ^8.0.7
  flutter:
    sdk: flutter
  flutter_adaptive_scaffold: ^0.2.4
  flutter_bloc: ^8.1.5
  # TODO(dtscalac): depend on latest stable version when https://github.com/deakjahn/flutter_dropzone/issues/95 is solved,
  # don't depend on flutter_dropzone_platform_interface and flutter_dropzone_web, they should be pulled in transitively
  flutter_dropzone: 4.0.3
  flutter_dropzone_platform_interface: 2.0.6
  flutter_dropzone_web: 4.0.2
  flutter_inappwebview: ^6.1.5
  flutter_localized_locales: ^2.0.5
  flutter_markdown: ^0.7.4+3
  flutter_native_splash: ^2.4.6
  # TODO(minikin): We use our forks as a temporary workaround for F14.
  flutter_quill:
    git:
      url: https://github.com/input-output-hk/flutter-quill
      ref: 532172254c3cee957bbdbb08be922f2c870b7fff
  flutter_quill_extensions:
    git:
      url: https://github.com/input-output-hk/flutter-quill
      path: flutter_quill_extensions
      ref: 532172254c3cee957bbdbb08be922f2c870b7fff
  flutter_secure_storage: ^9.2.2
  flutter_web_plugins:
    sdk: flutter
  formz: ^0.7.0
  go_router: ^14.8.0
  google_fonts: ^6.2.1
  intl: ^0.19.0
  lottie: ^3.3.1
  markdown: ^7.2.2
  # TODO(minikin): We use our forks as a temporary workaround for F14.
  markdown_quill:
    git:
      url: https://github.com/input-output-hk/markdown_quill
      ref: a523a6128e6b2677739ac5d68d1d9c65a2af8b98
  mask_text_input_formatter: ^2.9.0
  result_type: ^0.2.0
  scrollable_positioned_list: ^0.3.8
  sentry_flutter: ^8.8.0
  shared_preferences: ^2.3.3
  skeletonizer: ^1.4.3
  url_launcher: ^6.2.2
  url_strategy: ^0.3.0
  uuid_plus: ^0.1.0
  video_player: ^2.9.2

dev_dependencies:
  analyzer: 7.3.0
  build_runner: ^2.4.12
  build_verify: ^3.1.0
  catalyst_analysis: ^3.0.0
  flutter_test:
    sdk: flutter
  # TODO(damian-molinski): remove version lock when go_router is upgraded.
  # Lock at 2.8.2 because 2.9.0 introduced changes required for go_router 15.0.0.
  go_router_builder: 2.8.2
  integration_test:
    sdk: flutter
  mockito: ^5.4.4
  mocktail: ^1.0.1
  patrol_finders: ^2.5.1
  plugin_platform_interface: ^2.1.8
  sentry_dart_plugin: ^2.1.0
  url_launcher_platform_interface: ^2.2.0

flutter:
  uses-material-design: true
  generate: true

sentry:
  upload_source_maps: true
  upload_sources: true
