name: catalyst_voices
description: Catalyst Voices
version: 0.1.0+1
publish_to: none
resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.1"

dependencies:
  auto_size_text: ^3.0.0
  catalyst_cardano: ^1.0.0
  catalyst_cardano_serialization: ^1.0.0
  catalyst_cardano_web: ^1.0.0
  catalyst_compression: ^1.0.0
  catalyst_key_derivation: ^1.0.0
  catalyst_voices_assets:
    path: ../../packages/internal/catalyst_voices_assets
  catalyst_voices_blocs:
    path: ../../packages/internal/catalyst_voices_blocs
  catalyst_voices_brands:
    path: ../../packages/internal/catalyst_voices_brands
  catalyst_voices_localization:
    path: ../../packages/internal/catalyst_voices_localization
  catalyst_voices_models:
    path: ../../packages/internal/catalyst_voices_models
  catalyst_voices_repositories:
    path: ../../packages/internal/catalyst_voices_repositories
  catalyst_voices_services:
    path: ../../packages/internal/catalyst_voices_services
  catalyst_voices_shared:
    path: ../../packages/internal/catalyst_voices_shared
  catalyst_voices_view_models:
    path: ../../packages/internal/catalyst_voices_view_models
  collection: ^1.19.1
  cross_file: ^0.3.4+2
  device_info_plus: ^11.5.0
  dotted_border: ^3.1.0
  equatable: ^2.0.7
  file_picker: ^10.3.9
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_dropzone: ^4.2.1
  # TODO(LynxLynxx): Update to stable version when available.
  # For more context, see https://github.com/input-output-hk/catalyst-voices/pull/3999
  flutter_inappwebview: ^6.2.0-beta.2
  flutter_localized_locales: ^2.0.5
  flutter_markdown: ^0.7.7+1
  flutter_native_splash: ^2.4.6
  # TODO(minikin): We use our forks as a temporary workaround for F14.
  flutter_quill:
    git:
      url: https://github.com/input-output-hk/flutter-quill
      ref: 81aa649db3268b0b69440db1b3313af90d393ae7
  flutter_quill_extensions:
    git:
      url: https://github.com/input-output-hk/flutter-quill
      path: flutter_quill_extensions
      ref: 81aa649db3268b0b69440db1b3313af90d393ae7
  flutter_secure_storage: ^9.2.4
  flutter_web_plugins:
    sdk: flutter
  formz: ^0.8.0
  go_router: ^15.1.3
  google_fonts: ^6.3.0
  intl: ^0.20.2
  lottie: ^3.3.1
  markdown: ^7.3.0
  # TODO(minikin): We use our forks as a temporary workaround for F14.
  markdown_quill:
    git:
      url: https://github.com/input-output-hk/markdown_quill
      ref: 8a8f483a17eff72aa5adcead1449c895ffc23ac1
  mask_text_input_formatter: ^2.9.0
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  result_type: ^1.0.0
  rxdart: ^0.28.0
  scrollable_positioned_list: ^0.3.8
  sentry_flutter: ^9.6.0
  shared_preferences: ^2.5.3
  skeletonizer: ^2.1.0+1
  synchronized: ^3.4.0
  url_launcher: ^6.3.2
  url_strategy: ^0.3.0
  uuid_plus: ^0.1.0
  video_player: ^2.10.0

dev_dependencies:
  build_runner: ^2.10.3
  catalyst_analysis: ^3.0.0
  catalyst_voices_dev:
    path: ../../packages/internal/catalyst_voices_dev
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  go_router_builder: ^4.1.1
  integration_test:
    sdk: flutter
  mocktail: ^1.0.4
  patrol_finders: ^2.9.0
  plugin_platform_interface: ^2.1.8
  sentry_dart_plugin: ^3.1.1
  url_launcher_platform_interface: ^2.3.2

flutter:
  uses-material-design: true
  generate: true

sentry:
  commits: false
  upload_sources: true
  upload_source_maps: true
  upload_debug_symbols: true
  upload_source_context: true
  log_level: info
