name: catalyst_voices_services
description: Catalyst Voices Services.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.2.6 <4.0.0"
  flutter: 3.19.1

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: ^9.0.0
  rxdart: ^0.27.7

dev_dependencies:
   catalyst_analysis:
    path: ../../../catalyst_voices_packages/catalyst_analysis
   test: ^1.24.9