name: catalyst_cardano_web
description: Web platform implementation of catalyst_cardano. Allows to communicate with the Cardano Wallet Extension via js_interop integration.
repository: https://github.com/input-output-hk/catalyst-voices/tree/main/catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web
issue_tracker: https://github.com/input-output-hk/catalyst-voices/issues
topics: [blockchain, cardano, cryptocurrency, wallet]
version: 0.2.0+1

environment:
  sdk: ">=3.3.4 <4.0.0"
  flutter: ">=3.22.1"

flutter:
  plugin:
    implements: catalyst_cardano
    platforms:
      web:
        pluginClass: CatalystCardanoWeb
        fileName: catalyst_cardano_web.dart

  assets:
    - assets/js/

dependencies:
  catalyst_cardano_platform_interface: ^0.2.0+1
  catalyst_cardano_serialization: ^0.3.0
  cbor: ^6.2.0
  convert: ^3.1.1
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^0.5.0

dev_dependencies:
  catalyst_analysis:
    path: ../../catalyst_analysis
  flutter_test:
    sdk: flutter
