name: catalyst_voices_assets
description: A Catalyst Voices Assets.
version: 0.1.0+1
publish_to: none
resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.1"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.0
  lottie: ^3.3.1

dev_dependencies:
  build_runner: ^2.10.3
  catalyst_analysis: ^3.0.0
  flutter_gen_runner: ^5.12.0
  flutter_test:
    sdk: flutter

flutter:
  generate: true
  assets:
    - assets/images/
    - assets/images/category/
    - assets/images/opportunities/
    - assets/icons/
    - assets/lottie/
    - assets/videos/
  fonts:
    - family: SF-Pro
      fonts:
        - asset: assets/fonts/SF-Pro-Rounded-Regular.ttf
          weight: 600

flutter_gen:
  output: lib/generated/
  assets:
    enabled: true
    outputs:
      class_name: VoicesAssets
      package_parameter_enabled: false
      style: dot-delimiter
  fonts:
    enabled: true
    outputs:
      class_name: VoicesFonts
  colors:
    enabled: true
    outputs:
      class_name: VoicesColors
    inputs:
      - assets/colors/colors.xml
  integrations:
    flutter_svg: true
    lottie: true
