name: catalyst_voices_shared
description: A Catalyst Voices Shared Package.
version: 0.1.0+1
publish_to: none

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: 3.19.1

dependencies:
  flutter:
    sdk: flutter
  web: ^0.5.0

dev_dependencies:
   catalyst_analysis:
    path: ../../../catalyst_voices_packages/catalyst_analysis
   test: ^1.24.9

