name: catalyst_voices_localization
description: A Catalyst Voices Localization.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.1"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0

dev_dependencies:
  catalyst_analysis: ^2.0.1
  flutter_test:
    sdk: flutter

flutter:
  generate: true
