name: catalyst_voices_models
description: Catalyst Voices Models.
version: 0.1.0+1
publish_to: none
resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  bip39: ^1.0.6
  catalyst_cardano: ^1.0.0
  catalyst_cardano_serialization: ^1.0.0
  catalyst_cardano_web: ^1.0.0
  catalyst_voices_shared:
    path: ../catalyst_voices_shared
  collection: ^1.19.1
  convert: ^3.1.2
  device_info_plus: ^11.5.0
  equatable: ^2.0.7
  # Flutter is added because tests are using @visibleForTesting and loggers which are flutter
  # dependencies and tests are requiring them.
  flutter:
    sdk: flutter
  json_annotation: ^4.9.0
  meta: ^1.16.0
  money2: ^6.0.5
  password_strength: ^0.2.0
  permission_handler: ^12.0.1
  uuid_plus: ^0.1.0

dev_dependencies:
  build_runner: ^2.10.3
  catalyst_analysis: ^3.0.0
  catalyst_voices_dev:
    path: ../catalyst_voices_dev
  flutter_test:
    sdk: flutter
  json_serializable: ^6.11.1
  test: ^1.27.0
