name: catalyst_voices_models
description: Catalyst Voices Models.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  bip39: ^1.0.6
  catalyst_cardano: ^0.4.1
  catalyst_cardano_serialization: ^0.5.0+4
  catalyst_cardano_web: ^0.4.0+4
  catalyst_voices_shared:
    path: ../catalyst_voices_shared
  collection: ^1.19.0
  convert: ^3.1.1
  equatable: ^2.0.7
  # Flutter is added because tests are using @visibleForTesting and loggers which are flutter
  # dependencies and tests are requiring them.
  flutter:
    sdk: flutter
  json_annotation: ^4.9.0
  meta: ^1.10.0
  password_strength: ^0.2.0
  uuid: ^4.5.1

dev_dependencies:
  build_runner: ^2.4.12
  catalyst_analysis: ^2.0.1
  json_serializable: ^6.9.0
  test: ^1.24.9
