name: catalyst_voices_assets
description: A Catalyst Voices Assets.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.2.6 <4.0.0"
  flutter: 3.19.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.1.11
  flutter_gen_runner: ^5.3.2

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
  fonts:
    - family: SF-Pro
      fonts:
        - asset: assets/fonts/SF-Pro-Rounded-Regular.ttf
          weight: 600

flutter_gen:
  output: lib/generated/
  assets:
    enabled: true
    outputs:
      class_name: VoicesAssets
      package_parameter_enabled: false
      style: dot-delimiter
  fonts:
    enabled: true
    outputs:
      class_name: VoicesFonts
  colors:
    enabled: true
    outputs:
      class_name: VoicesColors
    inputs:
      - assets/colors/colors.xml