name: uikit_example
description: Demonstrates usage of UIKit.
publish_to: "none"

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.27.3"

dependencies:
  catalyst_cardano_serialization: ^1.0.0
  catalyst_voices:
    path: ../../
  catalyst_voices_assets:
    path: ../../packages/internal/catalyst_voices_assets
  catalyst_voices_blocs:
    path: ../../packages/internal/catalyst_voices_blocs
  catalyst_voices_brands:
    path: ../../packages/internal/catalyst_voices_brands
  catalyst_voices_localization:
    path: ../../packages/internal/catalyst_voices_localization
  catalyst_voices_models:
    path: ../../packages/internal/catalyst_voices_models
  catalyst_voices_shared:
    path: ../../packages/internal/catalyst_voices_shared
  catalyst_voices_view_models:
    path: ../../packages/internal/catalyst_voices_view_models
  collection: ^1.19.0
  cupertino_icons: ^1.0.6
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.5
  flutter_localized_locales: ^2.0.5
  flutter_quill: ^10.8.2

dev_dependencies:
  build_runner: ^2.4.14
  catalyst_analysis: ^3.0.0
  flutter_gen_runner: ^5.3.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/

flutter_gen:
  output: lib/generated/
  assets:
    enabled: true
    outputs:
      class_name: UiKitAssets
      package_parameter_enabled: false
      style: dot-delimiter
