[workspace]
resolver = "2"
members = [
    "bin",
    # "crates/<a crate>",
    "tests",
]

[workspace.package]
edition = "2021"
version = "0.0.1"
authors = [
    "Steven Johnson <steven.johnson@iohk.io>"
]
rust-version = "1.73"
homepage = "https://input-output-hk.github.io/catalyst-voices"
repository = "https://github.com/input-output-hk/catalyst-voices"
license = "MIT OR Apache-2.0"

[workspace.dependencies]

clap = "4"

tracing = "0.1.37"
tracing-subscriber = "0.3.16"

serde = "1.0"
serde_json = "1.0"

poem = "1.3.58"
poem-openapi = "3.0.4"
poem-extensions = "0.7.2"

prometheus = "0.13.0"
cryptoxide = "0.4.4"
uuid = "1"
lazy_static = "1.4"
panic-message = "0.3"
cpu-time = "1.0"
ulid = "1.0.1"
rust-embed = "8"

hyper = "0.14"
url = "2.4.1"

thiserror = "1.0"

chrono = "0.4"

async-trait = "0.1.64"

rust_decimal = "1.29"

bb8 = "0.8.1"
bb8-postgres = "0.8.1"
tokio-postgres = "0.7.10"

tokio = "1"

dotenvy = "0.15"
cardano_chain_follower= { path = "../../hermes/hermes/crates/cardano-chain-follower/" }