[workspace]
resolver = "2"
members = [
    "bin",
    # "crates/<a crate>",
]

[workspace.package]
edition = "2021"
version = "0.0.1"
authors = []

[workspace.dependencies]

clap = "4"

tracing = "0.1.37"
tracing-subscriber = "0.3.16"

serde = "1.0"
serde_json = "1.0"
serde_with = "3"

axum = "0.6.9"

poem = "1.3.58"
poem-openapi = "3.0.4"
poem-extensions = "0.7.2"

metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.1"
opentelemetry-prometheus = "0.13"
opentelemetry = "0.19"
prometheus = "0.13.0"
cryptoxide = "0.4.4"
uuid = "1"
lazy_static = "1.4"
panic-message = "0.3"
regex = "1.9"
bytes = "1.4"
cpu-time = "1.0"
arc-swap = "1.6"
ulid = "1.0.1"
rust-embed = "8"

tower-http = "0.4"
tower = "0.4"
hyper = "0.14"
url = "2.4.1"

thiserror = "1.0"

chrono = "0.4"

async-trait = "0.1.64"

rust_decimal = "1.29"

bb8 = "0.8.0"
bb8-postgres = "0.8.1"
tokio-postgres = "0.7.7"

tokio = "1"

dotenvy = "0.15"
