# cspell: words statusgossip

services:
  event-db:
    image: event-db:latest
    container_name: event-db
    environment:
      - DB_HOST=localhost
      - DB_PORT=5432
      - DB_NAME=CatalystEventDev
      - DB_DESCRIPTION="Catalyst Event DB"
      - DB_SUPERUSER=postgres
      - DB_SUPERUSER_PASSWORD=postgres
      - DB_USER=catalyst-event-dev
      - DB_USER_PASSWORD=CHANGE_ME

      - INIT_AND_DROP_DB=true
      - WITH_MIGRATIONS=true
    ports:
      - "5432:5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${DB_SUPERUSER} -d $${DB_SUPERUSER_PASSWORD}",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  index-db:
    image: scylladb/scylla:latest
    container_name: index-db
    restart: unless-stopped
    command: --smp 2 --memory 1G --overprovisioned 1 --api-address 0.0.0.0
    healthcheck:
      test: cqlsh -e "SHOW VERSION" || exit 1
      interval: 15s
      timeout: 30s
      retries: 10
    ports:
      - "9042:9042"

  cat-gateway:
    image: cat-gateway:latest
    container_name: cat-gateway
    healthcheck:
      test: "curl -s -i localhost:3030/api/v1/health/ready | head -n 1 | grep 204"
      start_period: 30s
      interval: 20s
      timeout: 30s
      retries: 45
    environment:
      - EVENT_DB_URL=postgres://catalyst-event-dev:CHANGE_ME@event-db/CatalystEventDev
      - CASSANDRA_PERSISTENT_URL=index-db:9042
      - CASSANDRA_VOLATILE_URL=index-db:9042
      - CHAIN_NETWORK=Preprod
      - SIGNED_DOC_SK=0x6455585b5dcc565c8975bc136e215d6d4dd96540620f37783c564da3cb3686dd
      - INTERNAL_API_KEY=123
      # cspell: disable
      - SIGNED_DOC_ADMIN_KEY=admin.catalyst://preprod.cardano/0KGVpkXVe5-h1RfIb08Mnc-xMZTzSX5VVnPDaHvhrqQ/0/10
      # cspell: enable
      # - LOG_LEVEL=error
      # - RUST_LOG="error,cat_gateway=debug,cardano_chain_follower=debug,mithril-client=debug"
    ports:
      - "3030:3030"
    depends_on:
      event-db:
        condition: service_healthy
      index-db:
        condition: service_healthy
