name: catalyst_voices_models
description: Catalyst Voices Models.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  catalyst_cardano_serialization: ^0.4.0
  equatable: ^2.0.5
  flutter_quill: ^10.5.0
  meta: ^1.10.0

dev_dependencies:
  catalyst_analysis: ^2.0.0
  test: ^1.24.9
