name: catalyst_voices_models
description: Catalyst Voices Models.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.2.3 <4.0.0"

dependencies:
  meta: ^1.10.0

dev_dependencies:
   catalyst_analysis:
    path: ../../../catalyst_voices_packages/catalyst_analysis
   test: ^1.24.9