name: catalyst_voices_localization
description: A Catalyst Voices Localization.
version: 0.1.0+1
publish_to: none

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: 3.19.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  generate: true
