
.qrcode-stream-wrapper[data-v-d2b146a0] {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 0;
}
.qrcode-stream-overlay[data-v-d2b146a0] {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.qrcode-stream-camera[data-v-d2b146a0] {
  width: 100%;
  height: 100%;

  display: block;
  object-fit: cover;
}
