{
    admin :8081
    metrics
}
http://:8080 {
    root * /app

    handle /healthz {
        respond `{"status":"ok"}` 200
    }

    handle {
        try_files {path} /index.html
        file_server
    }

    header {
        Cross-Origin-Opener-Policy "same-origin"
        Cross-Origin-Embedder-Policy "require-corp"

        / Cache-Control "public, max-age=3600, must-revalidate"
    }

    handle_errors {
        rewrite * /50x.html
        file_server
    }

    log
}