name: catalyst_voices
description: Catalyst Voices
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.3.4 <4.0.0"
  flutter: ">=3.22.1"

dependencies:
  animated_text_kit: ^4.2.2
  animations: ^2.0.11
  catalyst_cardano: ^0.2.0+1
  catalyst_cardano_serialization: ^0.3.0
  catalyst_cardano_web: ^0.2.0+1
  catalyst_voices_assets:
    path: ./packages/catalyst_voices_assets
  catalyst_voices_blocs:
    path: ./packages/catalyst_voices_blocs
  catalyst_voices_brands:
    path: ./packages/catalyst_voices_brands
  catalyst_voices_localization:
    path: ./packages/catalyst_voices_localization
  catalyst_voices_models:
    path: ./packages/catalyst_voices_models
  catalyst_voices_repositories:
    path: ./packages/catalyst_voices_repositories
  catalyst_voices_services:
    path: ./packages/catalyst_voices_services
  catalyst_voices_shared:
    path: ./packages/catalyst_voices_shared
  catalyst_voices_view_models:
    path: ./packages/catalyst_voices_view_models
  collection: ^1.18.0
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_adaptive_scaffold: ^0.1.11
  flutter_bloc: ^8.1.3
  flutter_localized_locales: ^2.0.5
  flutter_web_plugins:
    sdk: flutter
  formz: ^0.7.0
  go_router: ^14.0.2
  google_fonts: ^6.2.1
  sentry_flutter: ^8.3.0
  url_launcher: ^6.2.2
  url_strategy: ^0.2.0

dev_dependencies:
  build_runner: ^2.3.3
  build_verify: ^3.1.0
  catalyst_analysis:
    path: ../catalyst_voices_packages/catalyst_analysis
  flutter_test:
    sdk: flutter
  go_router_builder: ^2.4.1
  integration_test:
    sdk: flutter
  mockito: ^5.4.4
  mocktail: ^1.0.1
  sentry_dart_plugin: ^2.1.0

flutter:
  uses-material-design: true
  generate: true

sentry:
  upload_source_maps: true
  upload_sources: true
