[package]
name = "cat-gateway"
description = "The Catalyst Data Gateway"
keywords = ["cardano", "catalyst", "gateway"]
categories = ["command-line-utilities"]
version = "0.1.0"
authors.workspace =  true
edition.workspace =  true
license.workspace =  true
repository.workspace =  true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
cardano-chain-follower = {version = "0.0.6", git = "https://github.com/input-output-hk/catalyst-libs.git", tag="v0.0.10" }
c509-certificate = { version = "0.0.3", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "v0.0.3" }
rbac-registration = { version = "0.0.2", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "v0.0.8" }
catalyst-signed-doc = { version = "0.0.1", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "r20250204-00" }

pallas = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }
pallas-traverse = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }
#pallas-crypto = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }

clap = { version = "4.5.20", features = ["derive", "env"] }
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = [
    "fmt",
    "json",
    "registry",
    "std",
    "time",
    "env-filter",
] }
serde = { version = "1.0.214", features = ["derive"] }
serde_json = { version = "1.0.132", features = ["arbitrary_precision"] }
thiserror = "1.0.68"
chrono = "0.4.38"
bb8 = "0.8.6"
bb8-postgres = "0.8.1"
tokio-postgres = { version = "0.7.12", features = [
    "with-chrono-0_4",
    "with-serde_json-1",
    "with-time-0_3",
    "with-uuid-1"
] }
tokio = { version = "1.41.0", features = ["rt", "macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
local-ip-address = "0.6.3"
gethostname = "0.5.0"
hex = "0.4.3"
handlebars = "6.2.0"
anyhow = "1.0.95"
duration-string = "0.4.0"
build-info = "0.0.39"
ed25519-dalek = "2.1.1"
scylla = { version = "0.15.0", features = ["cloud", "full-serialization"] }
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.4"
openssl = { version = "0.10.66", features = ["vendored"] }
num-bigint = "0.4.6"
futures = "0.3.31"
rand = "0.8.5"
moka = { version = "0.12.8", features = ["future"] }
crossbeam-skiplist = "0.1.3"
rust_decimal = { version = "1.36.0", features = [
    "serde-with-float",
    "db-tokio-postgres",
] }
poem = { version = "3.1.6", features = ["embed", "prometheus", "compression"] }
poem-openapi = { version = "5.1.5", features = [
    "openapi-explorer",
    "rapidoc",
    "redoc",
    "swagger-ui",
    "uuid",
    "url",
    "chrono",
] }
uuid = { version = "1.11.0", features = ["v4", "v7", "serde"] }
ulid = { version = "1.1.3", features = ["serde", "uuid"] }
blake2b_simd = "1.0.2"
url = "2.5.3"
panic-message = "0.3.0"
cpu-time = "1.0.0"
prometheus = "0.13.4"
rust-embed = "8.5.0"
num-traits = "0.2.19"
base64 = "0.22.1"
dashmap = "6.1.0"
x509-cert = "0.2.5"
der-parser = "9.0.0"
jsonschema = "0.26.1"
bech32 = "0.11.0"
const_format = "0.2.33"
regex = "1.11.1"
minijinja = "2.5.0"
bytes = "1.9.0"
mime = "0.3.17"
stats_alloc = "0.1.10"
memory-stats = "1.0.0"
minicbor = "0.25.1"

[dev-dependencies]
proptest = "1.5.0"

[build-dependencies]
build-info-build = "0.0.39"
