[package]
name = "cat-gateway"
description = "The Catalyst Data Gateway"
keywords = ["cardano", "catalyst", "gateway"]
categories = ["command-line-utilities"]
version = "1.2.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
# TODO: Use proper tags instead of branch.
#cardano-chain-follower = { version = "0.0.19", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "cardano-chain-follower/v0.0.19" }
cardano-chain-follower = { git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "hack-do-not-merge-simple-versions" }
#rbac-registration = { version = "0.0.15", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "rbac-registration/v0.0.15" }
rbac-registration = { git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "hack-do-not-merge-simple-versions" }
#catalyst-signed-doc = { version = "0.0.10", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "catalyst-signed-doc/v0.0.10" }
catalyst-signed-doc = { git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "hack-do-not-merge-simple-versions" }
#catalyst-contest = { version = "0.0.1", git = "https://github.com/input-output-hk/catalyst-libs.git", , tag = "catalyst-contest/v0.0.1" }
catalyst-contest = { version = "0.0.1", git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "hack-do-not-merge-simple-versions" }
c509-certificate = { version = "0.0.3", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "c509-certificate-v0.0.3" }
#catalyst-types = { version = "0.0.14", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "catalyst-types/v0.0.14" }
catalyst-types = { git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "hack-do-not-merge-simple-versions" }

clap = { version = "4.5.20", features = ["derive", "env"] }
tracing = { version = "0.1.40", features = ["attributes", "log"] }
tracing-subscriber = { version = "0.3.18", features = [
    "fmt",
    "json",
    "registry",
    "std",
    "time",
    "env-filter",
] }
serde_json = { version = "1.0.132", features = ["arbitrary_precision"] }
thiserror = "1.0.68"
chrono = "0.4.38"
deadpool = "0.12.2"
deadpool-postgres = "0.14.1"
tokio-postgres = { version = "0.7.12", features = [
    "with-chrono-0_4",
    "with-serde_json-1",
    "with-time-0_3",
    "with-uuid-1",
] }
tokio = { version = "1.41.0", features = ["rt", "macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
local-ip-address = "=0.6.3"
gethostname = "0.5.0"
hex = "0.4.3"
handlebars = "6.2.0"
anyhow = "1.0.99"
duration-string = "0.4.0"
build-info = "0.0.39"
ed25519-dalek = "2.1.1"
scylla = { version = "1.3.0", features = ["full-serialization", "openssl-010"] }
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.4"
openssl = { version = "0.10.66", features = ["vendored"] }
num-bigint = "0.4.6"
futures = "0.3.31"
rand = "0.8.5"
moka = { version = "0.12.8", features = ["future"] }
crossbeam-skiplist = "0.1.3"
poem = { version = "=3.1.6", features = ["embed", "prometheus", "compression"] }
poem-openapi = { version = "=5.1.5", features = [
    "openapi-explorer",
    "rapidoc",
    "redoc",
    "swagger-ui",
    "uuid",
    "url",
    "chrono",
] }
uuid = { version = "1.12.1", features = ["v4", "v7", "serde"] }
ulid = { version = "1.1.3", features = ["serde", "uuid"] }
blake2b_simd = "1.0.2"
url = "2.5.3"
panic-message = "0.3.0"
cpu-time = "1.0.0"
prometheus = "0.13.4"
rust-embed = "8.5.0"
num-traits = "0.2.19"
base64 = "0.22.1"
dashmap = { version = "6.1.0", features = ["rayon"] }
bech32 = "0.11.0"
const_format = "0.2.33"
regex = "1.11.1"
minijinja = "2.5.0"
bytes = "1.9.0"
mime = "0.3.17"
stats_alloc = "0.1.10"
memory-stats = "1.0.0"
derive_more = { version = "2.0.1", default-features = false, features = [
    "from",
    "into",
] }
rayon = "1.10"
x509-cert = "0.2.5"
minicbor = { version = "0.25.1", features = ["alloc"] }
itertools = "0.14.0"
get-size2 = { version = "0.6.2", features = ["derive"] }

# Its a transitive dependency of the "poem-openapi" crate,
# but its breaks API after version "5.1.8".
poem-openapi-derive = { version = "=5.1.4" }
# Its a transitive dependency of the "poem-openapi-derive" crate,
# but its breaks API after version "0.20.11".
darling = { version = "=0.20.10" }

# Optional dependencies for distributed tracing
tracing-opentelemetry = { version = "0.32" }
opentelemetry = { version = "0.31" }
opentelemetry_sdk = { version = "0.31", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.31", features = ["grpc-tonic"] }
opentelemetry-appender-tracing = { version = "0.31.1" }
opentelemetry-semantic-conventions = { version = "0.31" }

[dev-dependencies]
test-case = "3.3.1"

[build-dependencies]
build-info-build = "0.0.39"

[package.metadata.cargo-machete]
# remove that after fixing issues with latest crates
ignored = ["poem-openapi-derive", "darling"]
