[package]
name = "cat-gateway"
description = "The Catalyst Data Gateway"
license = "Apache-2.0"
repository = "https://github.com/input-output-hk/catalyst-voices"
keywords = ["cardano", "catalyst", "gateway"]
categories = ["command-line-utilities"]
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

async-trait = { workspace = true }
bb8 = { workspace = true }
bb8-postgres = { workspace = true }
tokio-postgres = { workspace = true, features = [
    "with-chrono-0_4",
    "with-serde_json-1",
] }

clap = { workspace = true, features = ["derive", "env"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["fmt", "json", "time"] }

serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

tokio = { workspace = true, features = ["rt", "macros", "rt-multi-thread"] }
thiserror = { workspace = true }
axum = { workspace = true }

tower-http = { workspace = true, features = ["cors"] }

rust_decimal = { workspace = true, features = [
    "serde-with-float",
    "db-tokio-postgres",
] }

chrono = { workspace = true }

poem = { workspace = true, features = [
    "embed",
    "prometheus",
    "compression",
] }
poem-openapi = { workspace = true, features = [
    "openapi-explorer",
    "rapidoc",
    "redoc",
    "swagger-ui",
    "uuid",
    "url",
    "chrono",
] }
poem-extensions = { workspace = true }

# Metrics - Poem
prometheus = { workspace = true }
cryptoxide = { workspace = true }
uuid = { workspace = true, features = ["v4", "serde"] }
lazy_static = { workspace = true }
url = { workspace = true }
dotenvy = { workspace = true }
panic-message = { workspace = true }
tower = { workspace = true, features = ["util"] }
hyper = { workspace = true }
bytes = { workspace = true }
cpu-time = { workspace = true }
ulid = { workspace = true, features = ["serde", "uuid"] }
rust-embed = { workspace = true }
