[package]
name = "cat-gateway"
description = "The Catalyst Data Gateway"
keywords = ["cardano", "catalyst", "gateway"]
categories = ["command-line-utilities"]
version = "0.1.0"
authors.workspace =  true
edition.workspace =  true
license.workspace =  true
repository.workspace =  true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
cardano-chain-follower = { version = "0.0.2", git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "main" }

pallas = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }
pallas-traverse = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }
#pallas-crypto = { version = "0.30.1", git = "https://github.com/input-output-hk/catalyst-pallas.git", rev = "9b5183c8b90b90fe2cc319d986e933e9518957b3" }

clap = { version = "4.5.17", features = ["derive", "env"] }
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = [
    "fmt",
    "json",
    "registry",
    "std",
    "time",
    "env-filter",
] }
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.128"
thiserror = "1.0.63"
chrono = "0.4.38"
async-trait = "0.1.82"
bb8 = "0.8.5"
bb8-postgres = "0.8.1"
tokio-postgres = { version = "0.7.11", features = [
    "with-chrono-0_4",
    "with-serde_json-1",
    "with-time-0_3",
] }
tokio = { version = "1.39.2", features = ["rt", "macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
local-ip-address = "0.6.2"
gethostname = "0.5.0"
hex = "0.4.3"
handlebars = "6.0.0"
anyhow = "1.0.86"
cddl = "0.9.4"
ciborium = "0.2.2"
stringzilla = "3.9.3"
duration-string = "0.4.0"
build-info = "0.0.38"
ed25519-dalek = "2.1.1"
scylla = { version = "0.14.0", features = ["cloud", "full-serialization"] }
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.4"
openssl = { version = "0.10.66", features = ["vendored"] }
num-bigint = "0.4.6"
futures = "0.3.30"
rand = "0.8.5"
moka = { version = "0.12.8", features = ["future"] }
crossbeam-skiplist = "0.1.3"
rust_decimal = { version = "1.36.0", features = [
    "serde-with-float",
    "db-tokio-postgres",
] }
poem = { version = "3.0.4", features = ["embed", "prometheus", "compression"] }
poem-openapi = { version = "5.0.3", features = [
    "openapi-explorer",
    "rapidoc",
    "redoc",
    "swagger-ui",
    "uuid",
    "url",
    "chrono",
] }
uuid = { version = "1.10.0", features = ["v4", "serde"] }
ulid = { version = "1.1.3", features = ["serde", "uuid"] }
cryptoxide = "0.4.4" # TODO: For blake2b replace with blake2b_simd.
url = "2.5.2"
panic-message = "0.3.0"
cpu-time = "1.0.0"
prometheus = "0.13.4"
rust-embed = "8.5.0"
num-traits = "0.2.19"

[build-dependencies]
build-info-build = "0.0.38"
