SELECT
  signed_docs.id,
  signed_docs.ver,
  signed_docs.type,
  signed_docs.author,
  signed_docs.metadata
FROM signed_docs
WHERE
  {{ conditions }}
ORDER BY signed_docs.type DESC, signed_docs.id DESC, signed_docs.ver DESC
{% if limit %} LIMIT {{ limit }} {% endif %}
{% if offset %} OFFSET {{ offset }} {% endif %}
