SELECT
  signed_docs.type,
  signed_docs.author,
  signed_docs.metadata,
  signed_docs.payload,
  signed_docs.raw
FROM signed_docs
WHERE
  signed_docs.id = '{{ id }}'
  {% if ver %} AND signed_docs.ver = '{{ ver }}' {% endif %}
ORDER BY signed_docs.ver DESC
LIMIT 1
