name: catalyst_cardano
description: Flutter plugin wrapping the Cardano Multiplatform Lib Rust library.
repository: https://github.com/input-output-hk/catalyst-voices/tree/main/catalyst_voices_packages/catalyst_cardano/catalyst_cardano
issue_tracker: https://github.com/input-output-hk/catalyst-voices/issues
topics: [blockchain, cardano, cryptocurrency, wallet]
version: 0.1.0

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: 3.19.5

flutter:
  plugin:
    platforms:
      web:
        default_package: catalyst_cardano_web

dependencies:
  catalyst_cardano_platform_interface: ^0.1.0
  catalyst_cardano_serialization: ^0.1.0
  catalyst_cardano_web: ^0.1.0
  flutter:
    sdk: flutter

dev_dependencies:
  catalyst_analysis:
    path: ../../catalyst_analysis
  flutter_test:
    sdk: flutter
  plugin_platform_interface: ^2.1.7
