name: Deploy Catalyst Voices Web App

on:
  push:
    branches: "**"
  pull_request:
    types:
      - opened

permissions:
  contents: write
  pull-requests: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  AWS_REGION: eu-central-1
  AWS_ROLE_ARN: arn:aws:iam::332405224602:role/ci
  EARTHLY_TARGET: docker
  ECR_REGISTRY: 332405224602.dkr.ecr.eu-central-1.amazonaws.com

jobs:
  deploy-voices-web-app:
    name: Deploy Catalyst Voices Web App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup CI
        uses: input-output-hk/catalyst-ci/actions/setup@master
        with:
          aws_role_arn: ${{ env.AWS_ROLE_ARN }}
          aws_region: ${{ env.AWS_REGION }}
          earthly_runner_secret: ${{ secrets.EARTHLY_RUNNER_SECRET }}

      - name: Build Flutter Web
        uses: input-output-hk/catalyst-ci/actions/run@master
        if: always()
        continue-on-error: true
        with:
          earthfile: ./catalyst_voices/
          flags: --allow-privileged
          targets: build-web
          target_flags: SECRETS_ARE_AVAILABLE=true, SENTRY_DSN=${{ secrets.SENTRY_DSN }}
          runner_address: ${{ secrets.EARTHLY_SATELLITE_ADDRESS }}
          artifact: "true"

      - name: Package Flutter Web
        uses: input-output-hk/catalyst-ci/actions/run@master
        if: always()
        continue-on-error: true
        with:
          earthfile: ./catalyst_voices/
          flags: --allow-privileged
          targets: package
          target_flags: SECRETS_ARE_AVAILABLE=true
          runner_address: ${{ secrets.EARTHLY_SATELLITE_ADDRESS }}
          artifact: "true"

      - name: Publish Flutter Web
        uses: input-output-hk/catalyst-ci/actions/run@master
        if: always()
        continue-on-error: true
        with:
          earthfile: ./catalyst_voices/
          flags: --allow-privileged
          targets: publish
          target_flags: SECRETS_ARE_AVAILABLE=true
          runner_address: ${{ secrets.EARTHLY_SATELLITE_ADDRESS }}
          artifact: "true"
