name: CI

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request:
    types:
      # - synchronize
      - ready_for_review

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: write

jobs:
  ci:
    uses: input-output-hk/catalyst-forge/.github/workflows/ci.yml@ci/v1.7.1
    with:
      forge_version: 0.11.0

  test_reporting:
    if: always()
    needs: ci
    uses: ./.github/workflows/generate-allure-report.yml
