name: CI

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request:
    types:
      - synchronize
      - ready_for_review
      - opened

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: write

jobs:
  paths-filter:
    if: ${{ github.event.pull_request }}
    runs-on: ubuntu-latest
    outputs:
      catalyst-gateway: ${{ steps.filter.outputs.catalyst-gateway }}
      catalyst-voices: ${{ steps.filter.outputs.catalyst-voices }}
      docs: ${{ steps.filter.outputs.docs }}
      not-only-docs: ${{ steps.filter.outputs.not-only-docs }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            catalyst-voices:
              - 'catalyst_voices/**'
            catalyst-gateway:
              - 'catalyst-gateway/**'
            docs:
              - 'docs/**'
              - '.config/dictionaries/project.dic'
            not-only-docs:
              - '!docs/**'
              - '!.config/dictionaries/project.dic'

  reject:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0
      - name: Reject Earthfile
        uses: input-output-hk/catalyst-forge/actions/reject-earthfile@ci/v1.10.0
        with:
          filter-source: earthfile
          filters: |
            \s*FROM.*?:latest
              No images should be built using the 'latest' tag

  docs-only:
    if: ${{ needs.paths-filter.outputs.docs == 'true' && needs.paths-filter.outputs.not-only-docs != 'true' }}
    needs: [reject, paths-filter]
    uses: input-output-hk/catalyst-forge/.github/workflows/release.yml@ci/v1.10.0
    with:
      releases: '[{"project":"./docs","name":"docs"}]'
      forge_version: 0.21.0

  ci:
    if: ${{ !github.event.pull_request.draft && needs.paths-filter.outputs.not-only-docs == 'true' }}
    needs: [reject, paths-filter]
    uses: input-output-hk/catalyst-forge/.github/workflows/ci.yml@ci/v1.10.0
    with:
      forge_version: 0.21.0
      release_only: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}

  gateway-integration-tests:
    needs: [ci, paths-filter]
    if: ${{ needs.paths-filter.outputs.catalyst-gateway == 'true' || github.base_ref == 'main'}}
    uses: ./.github/workflows/gateway-tests.yml

  voices-integration-tests:
    needs: [ci, paths-filter]
    if: ${{ needs.paths-filter.outputs.catalyst-voices == 'true' || github.base_ref == 'main' }}
    uses: ./.github/workflows/voices-tests.yml

  test-reporting:
    needs: [ci, voices-integration-tests, gateway-integration-tests ]
    if: ${{ github.base_ref == 'main' }}
    uses: ./.github/workflows/generate-allure-report.yml
