name: CI

on:
  push:
    branches: [main]
    tags: ['**']
  pull_request:

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: write

jobs:
  ci:
    uses: input-output-hk/catalyst-forge/.github/workflows/ci.yml@ci/v1.2.1
    with:
      forge_version: 0.4.0

  test_reporting:
    if: always()
    needs: ci
    uses: input-output-hk/catalyst-voices/.github/workflows/generate-allure-report.yml@main
