name: Catalyst Gateway integration tests

on:
  workflow_call:
    secrets:
      QA_REPO_SSH_KEY:
        required: true

concurrency:
  group: gateway-tests-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  REPORT_EXT: .junit-report.xml
  COVERAGE_EXT: .coverage.info

jobs:
  tests:
    name: Cat-Gateway integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0

      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Prepare artifacts
        id: images
        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
        with:
          command: run
          args: ./catalyst-gateway/tests/+all-images

      - name: Rust integration tests
        if: ${{ steps.images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up rust-tests-runner --exit-code-from rust-tests-runner
          docker compose -f catalyst-gateway/tests/docker-compose.yml down

      - name: Spin up catalyst-gateway
        id: gateway-started
        if: ${{ steps.images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up cat-gateway --detach

      - name: Wait for cat-gateway to become healthy
        id: gateway-healthy
        if: ${{ steps.gateway-started.conclusion == 'success' }}
        run: |
              echo "Waiting for container to be healthy..."
              for i in {1..500}; do
                STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
                echo "Health status: $STATUS"
                if [ "$STATUS" == "healthy" ]; then
                  echo "Container is healthy!"
                  break
                fi
                if [ "$STATUS" == "unhealthy" ]; then
                  echo "Container became unhealthy."
                  break
                fi
                sleep 5
              done

              if [ "$STATUS" != "healthy" ]; then
                docker compose -f catalyst-gateway/tests/docker-compose.yml logs cat-gateway
                exit 1
              fi

      - name: Integration API tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        env:
          API_TEST_MARKS: "preprod_indexing or unmarked"
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up api-tests-runner --exit-code-from api-tests-runner
          docker cp api-tests-runner:/root/junit-report.xml ./api-tests${{ env.REPORT_EXT }}
          docker cp api-tests-runner:/root/coverage.lcov ./api-tests${{ env.COVERAGE_EXT }}

      - name: Integration health tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        env:
          API_TEST_MARKS: "health_endpoint"
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up api-tests-runner --exit-code-from api-tests-runner

      - name: Collect and upload test reports
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-reports-gateway
          path: "**/*${{ env.REPORT_EXT }}"
          if-no-files-found: error
          retention-days: 1

      - name: Collect and upload test coverage
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: coverage-reports-gateway
          path: "**/*${{ env.COVERAGE_EXT }}"
          if-no-files-found: error
          retention-days: 1

  devnet-tests:
    name: Cat-Gateway devnet integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0

      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Prepare artifacts
        id: images
        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
        with:
          command: run
          args: ./catalyst-gateway/tests/+all-images

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.QA_REPO_SSH_KEY }}

      - name: Prepare artifacts devnet
        id: images-devnet
        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
        with:
          command: run
          args: ./catalyst-gateway/tests/+images-devnet

      - name: Spin up devnet
        if: ${{ steps.images-devnet.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up cat-devnet -d

      - name: Wait for cat-devnet to become healthy
        id: devnet-check
        run: |
          DEVNET_HEALTHY="false"
          echo "Waiting for container to be healthy ..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-devnet)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              DEVNET_HEALTHY="true"
              echo "devnet_healthy=$DEVNET_HEALTHY" >> $GITHUB_OUTPUT
              exit 0
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml logs cat-devnet
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml stop cat-devnet 
              echo "devnet_healthy=$DEVNET_HEALTHY" >> $GITHUB_OUTPUT
              break
            fi
            sleep 5
          done

      - name: Spin up devnet ... retry
        if: steps.devnet-check.outputs.devnet_healthy == 'false'
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up cat-devnet -d

      - name: Wait for cat-devnet to become healthy ... retry
        if: steps.devnet-check.outputs.devnet_healthy == 'false'
        run: |
          echo "Waiting for container to be healthy ... retry"
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-devnet)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              exit 0
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml logs cat-devnet
              exit 1
            fi
            sleep 5
          done

      - name: Spin up catalyst-gateway
        id: gateway-started
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up cat-gateway -d

      - name: Wait for cat-gateway to become healthy
        id: gateway-healthy
        if: ${{ steps.gateway-started.conclusion == 'success' }}
        run: |
          echo "Waiting for container to be healthy..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              break
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml logs cat-gateway
              exit 1
            fi
            sleep 5
          done

      - name: Schemathesis tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up schemathesis-runner --exit-code-from schemathesis-runner
