name: CI nightly

on:
  schedule:
  - cron: '0 0 * * *' # Runs every day at 00:00
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-images:
    name: Build images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.QA_REPO_SSH_KEY }}

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0

      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Prepare artifacts
        id: images
        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
        with:
          command: run
          args: ./catalyst-gateway/tests/+all-images

      - name: Save image to tar
        run: |
          docker save cat-gateway:latest -o cat-gateway.tar
          docker save event-db:latest -o event-db.tar
          docker save api-tests-runner:latest -o api-tests-runner.tar
          docker save schemathesis-runner:latest -o schemathesis-runner.tar
          docker save rust-tests-runner:latest -o rust-tests-runner.tar
          docker save event-db:v1 -o event-db-v1.tar
          docker save haproxy-node:latest -o haproxy-node.tar
          docker save cat-devnet:latest -o cat-devnet.tar
          mkdir all-images
          mv *.tar all-images/

      - uses: actions/upload-artifact@v4
        with:
          name: all-images
          path: all-images/

  tests:
    name: Cat-Gateway integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0

      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Get artifacts
        id: get-images
        uses: actions/download-artifact@v4
        with:
          name: all-images
          path: all-images/

      - name: Load image
        id: load-images
        run: |
          docker load -i cat-gateway.tar
          docker load -i event-db.tar
          docker load -i api-tests-runner.tar
          docker load -i schemathesis-runner.tar
          docker load -i rust-tests-runner.tar
          docker load -i event-db-v1.tar
          docker load -i haproxy-node.tar

      - name: Rust integration tests
        if: ${{ steps.load-images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up rust-tests-runner --exit-code-from rust-tests-runner
          docker compose -f catalyst-gateway/tests/docker-compose.yml down

      - name: Spin up catalyst-gateway
        id: gateway-started
        if: ${{ steps.load-images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up cat-gateway --detach

      - name: Wait for cat-gateway to become healthy
        id: gateway-healthy
        if: ${{ steps.gateway-started.conclusion == 'success' }}
        run: |
          echo "Waiting for container to be healthy..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              break
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              break
            fi
            sleep 5
          done
          
          if [ "$STATUS" != "healthy" ]; then
            docker compose -f catalyst-gateway/tests/docker-compose.yml logs cat-gateway
            exit 1
          fi

      - name: Integration API tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        env:
          API_TEST_MARKS: "preprod_indexing or unmarked"
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up api-tests-runner --exit-code-from api-tests-runner
          docker cp api-tests-runner:/poetry/junit-report.xml ./api-tests${{ env.REPORT_EXT }}
          docker cp api-tests-runner:/poetry/coverage.lcov ./api-tests${{ env.COVERAGE_EXT }}

      - name: Integration health tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        env:
          API_TEST_MARKS: "health_endpoint"
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose.yml up api-tests-runner --exit-code-from api-tests-runner
  #
  #      - name: Collect and upload test reports
  #        uses: actions/upload-artifact@v4
  #        if: success() || failure()
  #        with:
  #          name: test-reports-gateway
  #          path: "**/*${{ env.REPORT_EXT }}"
  #          if-no-files-found: error
  #          retention-days: 1
  #
  #      - name: Collect and upload test coverage
  #        uses: actions/upload-artifact@v4
  #        if: success() || failure()
  #        with:
  #          name: coverage-reports-gateway
  #          path: "**/*${{ env.COVERAGE_EXT }}"
  #          if-no-files-found: error
  #          retention-days: 1

  devnet-tests:
    name: Cat-Gateway devnet integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0

      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Get artifacts
        id: get-images
        uses: actions/download-artifact@v4
        with:
          name: all-images
          path: all-images/

      - name: Load image
        id: load-images
        run: |
          docker load -i cat-gateway.tar
          docker load -i event-db.tar
          docker load -i api-tests-runner.tar
          docker load -i schemathesis-runner.tar
          docker load -i rust-tests-runner.tar
          docker load -i event-db-v1.tar
          docker load -i haproxy-node.tar
          docker load -i cat-devnet.tar

      - name: Spin up devnet
        if: ${{ steps.load-images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up cat-devnet -d

      - name: Wait for cat-devnet to become healthy
        run: |
          echo "Waiting for container to be healthy..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-devnet)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              break
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml logs cat-devnet
              exit 1
            fi
            sleep 5
          done

      - name: Spin up catalyst-gateway
        id: gateway-started
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up cat-gateway -d

      - name: Wait for cat-gateway to become healthy
        id: gateway-healthy
        if: ${{ steps.gateway-started.conclusion == 'success' }}
        run: |
          echo "Waiting for container to be healthy..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              break
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml logs cat-gateway
              exit 1
            fi
            sleep 5
          done

      - name: Schemathesis tests
        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-gateway/tests/docker-compose-devnet.yml up schemathesis-runner --exit-code-from schemathesis-runner

#  ci-nightly:
#    uses: input-output-hk/catalyst-forge/.github/workflows/ci.yml@ci/v1.10.0
#    with:
#      forge_version: 0.21.0
#      skip_deploy: true
#      skip_release: true
#
#  tests:
#    name: nightly tests
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Free Disk Space (Ubuntu)
#        uses: jlumbroso/free-disk-space@main
#        with:
#          # this might remove tools that are actually needed,
#          # if set to "true" but frees about 6 GB
#          tool-cache: false
#          # all of these default to true, but feel free to set to
#          # "false" if necessary for your workflow
#          android: true
#          dotnet: false
#          haskell: false
#          large-packages: false
#          docker-images: false
#          swap-storage: true
#
#      - name: Install Forge
#        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
#        with:
#          enable_caching: "true"
#          version: 0.21.0
#
#      - name: Setup
#        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0
#
#      - name: Prepare artifacts
#        id : images
#        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
#        with:
#          command: run
#          args: ./catalyst-gateway/tests/+all-images
#
#      - name: Spin up catalyst-gateway
#        id: gateway-started
#        if: ${{ steps.images.conclusion == 'success' }}
#        run: |
#          docker compose -f catalyst-gateway/tests/docker-compose.yml up cat-gateway --detach
#
#      - name: Wait for cat-gateway to become healthy
#        id: gateway-healthy
#        if: ${{ steps.gateway-started.conclusion == 'success' }}
#        run: |
#          echo "Waiting for container to be healthy..."
#          for i in {1..500}; do
#            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
#            echo "Health status: $STATUS"
#            if [ "$STATUS" == "healthy" ]; then
#              echo "Container is healthy!"
#              break
#            fi
#            if [ "$STATUS" == "unhealthy" ]; then
#              echo "Container became unhealthy."
#              docker logs cat-gateway
#              exit 1
#            fi
#            sleep 5
#          done
#
#      - name: Schemathesis tests
#        id: schemathesis-tests
#        if: ${{ steps.gateway-healthy.conclusion == 'success' }}
#        run: |
#          export HYPOTHESIS_MAX_EXAMPLES=5000
#          export MAX_RESPONSE_TIME=25000
#          docker compose -f catalyst-gateway/tests/docker-compose.yml up schemathesis-runner --exit-code-from schemathesis-runner
#
#      - name: Spin up catalyst-gateway with haproxy
#        id: gateway-with-proxy-started
#        env:
#          EVENT_DB_URL: "haproxy:18080"
#          INDEX_DB_URL: "haproxy:18090"
#        run: |
#          docker stop cat-gateway || true
#          docker compose -f catalyst-gateway/tests/docker-compose.yml up haproxy --detach
#          docker compose -f catalyst-gateway/tests/docker-compose.yml up cat-gateway --detach
#
#      - name: Wait for cat-gateway to become healthy
#        id: gateway-with-proxy-healthy
#        if: ${{ steps.gateway-with-proxy-started.conclusion == 'success' }}
#        run: |
#          echo "Waiting for container to be healthy..."
#          for i in {1..500}; do
#            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
#            echo "Health status: $STATUS"
#            if [ "$STATUS" == "healthy" ]; then
#              echo "Container is healthy!"
#              break
#            fi
#            if [ "$STATUS" == "unhealthy" ]; then
#              echo "Container became unhealthy."
#              docker logs cat-gateway
#              exit 1
#            fi
#            sleep 5
#          done
#
#      - name: Integration health thru proxy tests
#        if: ${{ steps.gateway-with-proxy-healthy.conclusion == 'success' }}
#        env:
#          API_TEST_MARKS: "health_with_proxy_endpoint"
#        run: |
#          docker compose -f catalyst-gateway/tests/docker-compose.yml up api-tests-runner --exit-code-from api-tests-runner
#
#  slack-notification:
#    needs: tests
#    if: ${{ always() && needs.tests.result == 'failure' }}
#    uses: input-output-hk/catalyst-ci/.github/workflows/qa-notify.yml@master
#    with:
#      failed_repo: ${{ github.repository }}
#      failed_run_id: ${{ github.run_id }}
#    secrets:
#      slack_webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
