name: CI nightly

on:
  schedule:
  - cron: '0 0 * * *' # Runs every day at 00:00
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  ci-nightly:
    uses: input-output-hk/catalyst-forge/.github/workflows/ci.yml@ci/v1.10.0
    with:
      forge_version: 0.21.0
      skip_deploy: true
      skip_release: true

  tests:
    name: nightly tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0


  slack-notification:
    needs: tests
    if: ${{ always() }} # && needs.tests.result == 'failure' }}
    uses: input-output-hk/catalyst-qa/.github/workflows/qa-notification.yml@main
    with:
      failed_repo: ${{ github.repository }}
      failed_run_id: ${{ github.run_id }}
    secrets:
      slack_webhook: ${{ secrets.SLACK_WEBHOOK_URL }}