name: Catalyst Voices integration tests

on:
  workflow_call:

concurrency:
  group: voices-tests-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  REPORT_EXT: .junit-report.xml
  COVERAGE_EXT: .coverage.info

jobs:
  tests:
    name: Cat-Voices integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Install Forge
        uses: input-output-hk/catalyst-forge/actions/install@ci/v1.10.0
        with:
          enable_caching: "true"
          version: 0.21.0
      - name: Setup
        uses: input-output-hk/catalyst-forge/actions/setup@ci/v1.10.0

      - name: Build all images
        uses: input-output-hk/catalyst-forge/actions/run@ci/v1.10.0
        with:
          command: run
          args: ./catalyst_voices/apps/voices/e2e_tests/+all-images

      - name: Spin up Gateway and Voices
        id: gateway-started
        if: ${{ steps.images.conclusion == 'success' }}
        run: |
          docker compose -f catalyst-voices/apps/voices/e2e_tests/docker-compose.yml up nginx --detach

      - name: Wait for cat-gateway to become healthy
        id: gateway-healthy
        if: ${{ steps.gateway-started.conclusion == 'success' }}
        run: |
          echo "Waiting for container to be healthy..."
          for i in {1..500}; do
            STATUS=$(docker inspect --format='{{.State.Health.Status}}' cat-gateway)
            echo "Health status: $STATUS"
            if [ "$STATUS" == "healthy" ]; then
              echo "Container is healthy!"
              break
            fi
            if [ "$STATUS" == "unhealthy" ]; then
              echo "Container became unhealthy."
              docker logs cat-gateway
              exit 1
            fi
            sleep 5
          done
